<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.png"/>
    <title>{{ document.office }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='work_style.css') }}">
</head>
<body>
<div class="container">
    <a href="/">Назад</a>

    <h1>{{ document.office }}</h1>
    <p>Дата: {{ document.date }}</p>
    <ul>
        <li>Начало: {{ document.exc.start_time }}</li>
        <li>Конец: {{ document.exc.end_time }}</li>
    </ul>

    <h2>Редактировать исключение</h2>
    <form action="{{ url_for('update_document', document_id=document._id) }}" method="POST">
        <label for="office">Название офиса:</label>
        <input type="text" id="office" name="office" value="{{ document.office }}" required>

        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" value="{{ document.date }}" required>

        <h3>Время</h3>
        <label for="start_time">Начало:</label>
        <input type="time" id="start_time" name="start_time" value="{{ document.exc.start_time }}">

        <label for="end_time">Конец:</label>
        <input type="time" id="end_time" name="end_time" value="{{ document.exc.end_time }}">

        <button type="submit">Обновить исключение</button>
    </form>

    <h2>Удалить исключение</h2>
    <form action="{{ url_for('delete_document', document_id=document._id) }}" method="POST">
        <button type="submit">Удалить</button>
    </form>

    <a href="{{ url_for('atypical_work') }}">Назад к списку</a>
</div>
</body>
</html>
