<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.png"/>
    <title>Нетиповой график работы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='work_style.css') }}">
</head>
<body>
<div class="container">
    <a href="/">Назад</a>

    <h1>Исключения</h1>
    <ul>
        {% for document in documents %}
            <li><a href="{{ url_for('get_document', document_id=document._id) }}">{{ document.office }}
                - {{ document.date }}</a></li>
        {% endfor %}
    </ul>

    <h2>Добавить новое исключение</h2>
    <form action="{{ url_for('add_document') }}" method="POST">
        <label for="office">Название офиса:</label>
        <input type="text" id="office" name="office" required>

        <label for="date">Дата:</label>
        <input type="date" id="date" name="date" required>

        <h3>Время</h3>
        <label for="start_time">Начало:</label>
        <input type="time" id="start_time" name="start_time">

        <label for="end_time">Конец:</label>
        <input type="time" id="end_time" name="end_time">

        <button type="submit">Добавить исключение</button>
    </form>
</div>
</body>
</html>
