<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <img src="../static/img/header-logo.svg" alt="" width="200px">
    <div class="buttons">
        <button class="open-form"><img src="../static/img/add.png" alt="" style="cursor: pointer;"></button>
        <a href="/export_to_excel">
            <button class="to-excel"><img src="../static/img/export.png" alt="" style="cursor: pointer;"></button>
        </a>
        <a href="/main_work">
            <button class="work_plan"><img src="../static/img/calendar.png" alt="" style="cursor: pointer;"></button>
        </a>
        <a href="/exceptions">
            <button class="exceptions_plan"><img src="../static/img/exclamation.png" alt="" style="cursor: pointer;">
            </button>
        </a>
    </div>
</header>

<main>
    <label for="atypical">
        <input type="checkbox" id="atypical">
        Нетиповой график работы
    </label><br>
    <label for="filter-office"></label>
    <select id="filter-office">
        <option value="">Все офисы</option>
        {% for office in offices1 %}
            <option value="{{ office.Office }}">{{ office.Office }}</option>
        {% endfor %}
    </select>
    <div class="form--form hidden">
        <div class="form-form">
            <div class="form-header">
                <p>Добавить запись</p>
                <button><img src="../static/img/close.png" alt="X" class="close-form" style="cursor: pointer;"></button>
            </div>
            <form action="/add" class="add-form" method="post">
                <div>
                    <label for="surname">Фамилия:</label>
                    <input type="text" id="surname" name="surname" required>
                </div>
                <div>
                    <label for="name">Имя:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="fathername">Отчество:</label>
                    <input type="text" id="fathername" name="fathername" required>
                </div>
                <div>
                    <label for="phone_number">Телефон:</label>
                    <input type="text" id="phone_number" name="phone_number" required>
                </div>
                <div>
                    <label for="office">Офис:</label>
                    <select id="office" name="office" required>
                        {% for office in offices %}
                            <option value="{{ office.Office }}">{{ office.Office }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="date">Дата:</label>
                    <input type="date" id="date" name="date" required>
                </div>
                <div>
                    <label for="time">Время:</label>
                    <select id="time" name="time" required></select>
                </div>
                <div>
                    <label for="status">Статус:</label>
                    <input type="text" id="status" name="status" disabled value="Новый">
                </div>
                <input type="submit" value="Добавить" class="add-btn">
            </form>
        </div>
    </div>
    <table class="requests-table">
        <tr class="th-table">
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Контакт</td>
            <td>Офис</td>
            <td onclick="sortTable(5)">Дата</td>
            <td onclick="sortTable(6)">Время</td>
            <td>Статус</td>
        </tr>
        {% for request in requests %}
            <tr class="req-{{ request._id }}">
                <td>{{ request.surname }}</td>
                <td>{{ request.name }}</td>
                <td>{{ request.fathername }}</td>
                <td>{{ request.contact_phone }}</td>
                <td>{{ request.office }}</td>
                <td>{{ request.date|format_date }}</td>
                <td>{{ request.time }}</td>
                <td class="status-cell">
                    <label>
                        <input type="radio" class="status-radio new"
                               name="{{ request._id }}"
                               checked
                               value="Новый">
                        {{ request.status }}
                    </label><br>
                    <label>
                        <input type="radio" class="status-radio ok" name="{{ request._id }}" value="Прошла">
                        Прошла
                    </label><br>
                    <label>
                        <input type="radio" class="status-radio no-ok" name="{{ request._id }}" value="Не прошла">
                        Не прошла
                    </label>
                </td>
            </tr>
        {% endfor %}
    </table>

</main>
<script src="../static/main.js"></script>
</body>
</html>