<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/logo.png"/>
    <title>{{ office.Office }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='work_style.css') }}">
</head>
<body>
<div class="container">
    <a href="/">Назад</a>

    <h1>{{ office.Office }}</h1>
    <ul>
        {% for day, times in office.work_time.items() %}
            <li>{{ ruDays[day] }}: Начало - {{ times.start }}, Конец - {{ times.end }}, Обед - {{ times.break }}</li>
        {% endfor %}
    </ul>

    <h2>Редактировать офис</h2>
    <form action="{{ url_for('update_office', office_id=office._id) }}" method="POST">
        <label for="Office">Название офиса:</label>
        <input type="text" id="Office" name="Office" value="{{ office.Office }}" required>
        {% for day in ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun'] %}
            <h3>{{ ruDays[day] }}</h3>
            <label for="{{ day }}_start">Начало:</label>
            <input type="time" id="{{ day }}_start" name="{{ day }}_start" value="{{ office.work_time[day].start }}">
            <label for="{{ day }}_end">Конец:</label>
            <input type="time" id="{{ day }}_end" name="{{ day }}_end" value="{{ office.work_time[day].end }}">
            <label for="{{ day }}_break">Обед:</label>
            <input type="text" id="{{ day }}_break" name="{{ day }}_break" value="{{ office.work_time[day].break }}">
        {% endfor %}
        <button type="submit">Обновить офис</button>
    </form>

    <h2>Удалить офис</h2>
    <form action="{{ url_for('delete_office', office_id=office._id) }}" method="POST">
        <button type="submit">Удалить</button>
    </form>

    <a href="{{ url_for('main_work') }}">Назад к списку</a>
</div>
</body>
</html>
